<section class="CreatePatient" *ngIf="addProductForm">
  <form
    *ngIf="addProductForm"
    (ngSubmit)="addProduct()"
    id="addProductForm"
    [formGroup]="addProductForm"
  >
    <p>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" name="name" autocomplete="off" />
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="blocked-fields">
        <mat-label>Choose Category</mat-label>
        <mat-select formControlName="category" name="category">
          <mat-option *ngFor="let c of allCategories" [value]="c._id">
            {{ c.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field class="price-input">
        <input
          matInput
          placeholder="price"
          name="price"
          type="number"
          class="example-right-align"
          formControlName="price"
          autocomplete="off"
        />
        <span matPrefix>$&nbsp;</span>
      </mat-form-field>
    </p>
    <p>
      <label class="file-label">Select Image</label>
      <input
        style="display: none"
        name="image"
        type="file"
        #fileInput
        (change)="onFileChanged($event)"
        accept="image/*"
        #AccUserImg
      />
      <button mat-button mat-mini-fab type="button" (click)="fileInput.click()">
        <mat-icon>attachment</mat-icon>
      </button>
    </p>
    <p *ngIf="imgUrl.length > 0"><img class="show-img" [src]="imgUrl" /></p>
    <mat-error *ngIf="addProductForm.touched && !addProductForm.valid">
      All Fields Are Required
    </mat-error>
    <mat-error *ngIf="imgError"> Image Was Not Selected </mat-error>
    <div mat-dialog-actions>
      <button mat-button type="button" (click)="cleanForm()">CANCEL</button>
      <button *ngIf="!editMode" type="submit" mat-button>ADD</button>
      <button *ngIf="editMode" type="submit" mat-button>UPDATE</button>
    </div>
  </form>
</section>
