.sidenav-container {
    background: #fafafa!important; 
  }
  
  .sidenav {
    width: 250px;
    background: #fafafa!important;
    border-right: solid 1.5px rgba(0, 0, 0, 0.27)!important;
  }
  
  .sidenav .mat-toolbar {
    background: #3f51b5!important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
    color: white;
    justify-content: center;
    border-bottom: 1px solid #54548c;
    border-top: 1px solid #54548c;
    padding-top: 15px;
  }
  
  .sidenav .mat-toolbar label {
    font-size: 16px;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .mat-sidenav-content {
    overflow-y: -webkit-paged-y;
    background: white;
  }
  
  mat-nav-list {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    height: calc(100% - 80px);
  }
  
  .search-input {
    width: 150px;
    border-radius: 6px;
    padding: 5px;
    outline: none;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  }
  
  .main-toolbar {
    padding: 0!important;
    border-bottom: 1px solid #54548c;
    border-top: 1px solid #54548c;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
  }
  
  .category-btn {
    padding: 5px;
    height: 100%;
  }
  
  .mat-icon span {
    box-shadow: 0 0 3px #000000cc;
  }
  
  .mat-icon {
    text-shadow: 0 0 3px #000000cc;
  }
  
  .ng-star-inserted {
    height: 100%;
  }
  
  app-cart-table {
    display: flex;
    flex-direction: column;
    height: calc(100% - 65px)!important;
  }
  
  .my-tooltip {
    background: black;
  }