<header>
  <div class="cover"></div>
  <mat-toolbar class="user-section">
    <div class="logo-wrap">
      <label class="logo" routerLink="">
        <img src="../assets/img/mylogo.png" />
        <div>
          <p class="details">My Virtual</p>
          <p class="details">Store</p>
        </div>
      </label>
    </div>

    <div class="spacer"></div>

    <div class="small-screen">
      <label class="user-title" *ngIf="connect"
        >{{ usernameTitle }}<br
      /></label>
      <button class="small-btn" *ngIf="connect" mat-button (click)="logout()">
        Logout
      </button>

      <span class="user-title" *ngIf="!connect">{{ usernameTitle }}<br /></span>

      <a *ngIf="!connect" [routerLink]="'register'">Register | </a>
      <a *ngIf="!connect" [routerLink]="'login'">Login</a>
    </div>
  </mat-toolbar>
</header>

<router-outlet></router-outlet>
