header {
    width: 100%;
    height: 200px;
    background: url(http://videos2.healthination.com/HN_BB_Healthy_Shop_1_way/HN_BB_Healthy_Shop_1_way-img_1280x720.jpg)
        no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 9;
    .cover {
        height: calc(100% - 37px);
        width: 100%;
        background: #ffffff85;
    }
}

.user-section {
    padding: 0 5px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    height: 38px;
    background: #ebeaf4e8;
    box-shadow: 1px -3px 5px 0px rgba(0, 0, 0, 0.2);
    border-top: 0.5px solid #0000003d;
    border-bottom: 1px solid #0000003d;
    a {
        color: black;
        text-decoration: none;
        padding: 5px;
        &:hover {
            color: rgba(0, 0, 0, 0.658);
        }
    }

    .logo-wrap {
        flex: 0 0 130px;
        display: flex;
        height: 100%;
        width: 130px;
        .logo {
            width: 100%;
            outline: none;
            height: 100%;
            align-items: center;
            display: flex;
            cursor: pointer;
            letter-spacing: 0.8px;
            text-align: center;
            padding-left: 5px;
            padding-right: 10px;
            img {
                width: 30px;
                height: 30px;
                margin-right: 5px;
                & ~ div {
                    opacity: 0;
                    margin-left: -5px;
                    transition: all 1s;
                }
                &:hover ~ div {
                    opacity: 1;
                    margin-left: 5px;
                }
            }
            .details {
                font-size: 14px;
                margin: 0;
                line-height: 1.3;
            }
        }
    }
}

.small-screen {
    flex: 0 4 auto;
    text-align: right;
    height: 100%;
    font-size: 15px;
    text-align: center;
    line-height: 1.2;

    .user-title {
        font-size: 13px !important;
    }
    .small-btn {
        line-height: 1.2;
    }
}

@keyframes slide {
    from {
        opacity: 0;
        left: -5px;
    }
    to {
        opacity: 1;
        left: 0;
    }
}
