.wrapper {
  display: inline-flex;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-top: 10px;
}

.mat-card,
.item {
  text-align: center;
  height: 280px;
  width: 200px;
  flex-basis: auto;
  align-self: auto;
  margin: 5px;

  .img-wrap {
    margin: auto;
    height: 140px;
    width: 100%;
  }

  img {
    height: 100px;
    width: 100px;
    transition: all 2s;
    padding-top: 15px;
  }

  h3 {
    text-transform: capitalize;
    margin-bottom: 0;
  }

  h5 {
    margin: 5px auto 10px auto;
  }

  &:hover img {
    padding-top: 0;
    animation: flying 8s infinite linear;
    height: 100%;
    width: 130px;
  }

  .add-btn,
  .delete-btn {
    color: white;
    background-color: #3f51b5c7;
    line-height: 30px;
    &:hover {
      background-color: #3f51b5;
    }
  }

  .edit-btn {
    cursor: pointer;
    margin-right: 10px;
  }

  .btn-wrap {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }
}

@keyframes flying {
  0% {
    transform: rotateY(-45deg);
  }
  15% {
    transform: rotateY(0deg);
  }
  30% {
    transform: rotateY(25deg);
  }
  45% {
    transform: rotateY(45deg);
  }
  60% {
    transform: rotateY(25deg);
  }
  75% {
    transform: rotateY(0deg);
  }
  85% {
    transform: rotateY(-25deg);
  }
  100% {
    transform: rotateY(-45deg);
  }
}
