@import "../../../assets/scss/variables.scss";

.edit-wrapper {
    height: calc(100% - #{$products-navbar-height} - 10px);
}

form {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    padding-top: 10px;

    .mat-dialog-actions {
        justify-content: center;
    }

    .price-input {
        width: 90px;
    }

    .price-input.ng-touched.ng-invalid span {
        color: red;
    }

    img {
        height: 70px;
        width: 70px;
        margin: 10px auto;
    }

    .file-label {
        margin-right: 15px;
        color: #3f51b5;
    }

    .mat-mini-fab.mat-accent {
        background-color: #3f51b5;
        &:hover {
            .mat-icon {
                text-shadow: 0 0 3px #ffffff5c;
            }
        }
    }
}
